 /* Black Box and Green Borders below */
body {
    min-height: 100vh;
    background-image: linear-gradient(145deg, rgb(13, 175, 13), rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.flex-container {
    display: inline-flex;
    background-color: black;
    border-radius: 20px;
  }
  
.flex-container > div {
    border: 5px solid lawngreen;
    border-radius: 20px;
    color:white;
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container2 {
    display: inline-flex;
    background-color: black;
    border-radius: 20px;
  }
  
.flex-container2 > div {
    border: 5px solid lawngreen;
    border-radius: 20px;
    color:white;
    width: 300px;
    height: 225px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
/* ^^Black Box and Green Borders above^^ */


#startButton {
    background-color: lawngreen;
    border-radius: 10px;
    font-size: 150%;
}

#startButton:hover {
    background-color: red;
    cursor: pointer;
}



/* Difficulty Buttons Below */
#easyDifficulty {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(205, 226, 12), rgb(238, 255, 1));
}

#easyDifficulty:hover{cursor: pointer;}
#easyDifficulty:focus{ color: blue}


#normalDifficulty {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(236, 203, 13), rgb(255, 187, 0));;
}

#normalDifficulty:hover{cursor: pointer;}
#normalDifficulty:focus{color:blue}

#hardDifficulty {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(226, 169, 12), rgb(255, 0, 0));;
}

#hardDifficulty:hover{cursor: pointer;}

#hardDifficulty:focus{color:blue}
/* ^^Difficulty Buttons Above^^ */

/* Duration Buttons Below */
#shortDuration {
    padding-bottom: 10px;
    background: -webkit-linear-gradient(290deg, rgb(200, 255, 0), rgb(255, 30, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
    border-color: black;
    border-radius: 50px;
    font-size: 55%;
}

#shortDuration:hover {
    border-color: blanchedalmond;
    font-size: 65%;
    cursor: pointer;
}
#shortDuration:focus{border-color:blue}

#normalDuration {
    padding-bottom: 10px;
    background: -webkit-linear-gradient(290deg, rgb(200, 255, 0), rgb(255, 30, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
    border-color: black;
    border-radius: 50px;
    font-size: 55%;
}

#normalDuration:hover {
    border-color: blanchedalmond;
    font-size: 65%;
    cursor: pointer;
}
#normalDuration:focus{border-color:blue}
#longDuration {
    padding-bottom: 10px;
    background: -webkit-linear-gradient(290deg, rgb(200, 255, 0), rgb(255, 30, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: black;
    border-color: black;
    border-radius: 50px;
    font-size: 55%;
}

#longDuration:hover {
    border-color: blanchedalmond;
    font-size: 65%;
    cursor: pointer;
}
#longDuration:focus{border-color:blue}

/* ^^Duration Buttons Above^^ */

/* Target Shape Size */


#sizeSmall {
    height: 20px;
    width: 20px;
    background-color: rgb(251, 255, 0);
    border-radius: 50%;
    display: inline-block;
}

#sizeNormal {
    height: 35px;
    width: 35px;
    background-color: rgb(60, 255, 0);
    border-radius: 50%;
    display: inline-block;
}

#sizeLarge {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    display: inline-block;
}


#smallSize {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(205, 226, 12), rgb(238, 255, 1));;
}

#smallSize:hover{cursor: pointer;}
#smallSize:focus{color:blue}

#normalSize {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(236, 203, 13), rgb(255, 187, 0));;
}

#normalSize:hover{cursor: pointer;}
#normalSize:focus{color: blue}

#largeSize {
    border-radius: 50px;
    font-size: 55%;
    background-image: linear-gradient(145deg, rgb(226, 169, 12), rgb(255, 0, 0));;
}

#largeSize:hover{cursor: pointer;}
#largeSize:focus{color:blue}
/* ^^Target Shape Size Above^^ */

input {
    float: left;
    margin-left: 15%;
}

input:hover {
    cursor: pointer;
}
#displayDifficulty{
    color:white;
}
#displayDuration{
    color:white;
}

#displaySize{
    color:white;
}

h3 {
 color:white;
}

