body {
    min-height: 100vh;
    background-image: linear-gradient(145deg, rgb(2, 252, 64), rgb(0, 0, 0));;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#OuterMain {
    border-radius: 25px;
    background-color: rgb(41, 40, 40);
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
    margin-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
}

#Difficulty {
    background-color: teal;
    padding: 50px;
    border-color: #03fca1;
}